Introduction to looping statements

understanding for loops:

In [1]:
students = ['ashish','amisha','shana','tara','laxmi']
print(students)

['ashish', 'amisha', 'shana', 'tara', 'laxmi']

In [3]:
print(students[4].title()) #title used only for single element

Laxmi

In [4]:
for x in students:
    print(x)

ashish
amisha
shana
tara
laxmi

req:----> to spilt out the students individually from a list
syntax : for temporaryvariable in mainvariable:
             print(temporaryvariable)
 Indentation is necessary to make clean code.

In [5]:
for student in students:
    print(student)

ashish
amisha
shana
tara
laxmi

In [6]:
fruits = ['banana','mango','pineapple','coconut','cherry']
for fruit in fruits:
    print(fruit)

banana
mango
pineapple
coconut
cherry

In [20]:
for x in students:
    print(f"Stay inside home in lockdown & wash your hand {x}")
    print(f"Corona virus is dangerous {x} \n")
print('Thank you everyone')

Stay inside home in lockdown & wash your hand ashish
Corona virus is dangerous ashish

Stay inside home in lockdown & wash your hand amisha
Corona virus is dangerous amisha

Stay inside home in lockdown & wash your hand shana
Corona virus is dangerous shana

Stay inside home in lockdown & wash your hand tara
Corona virus is dangerous tara

Stay inside home in lockdown & wash your hand laxmi
Corona virus is dangerous laxmi

Thank you everyone

Making a numerical list with for loop:

In [22]:
for x in range(11):
    print('ashish')

ashish
ashish
ashish
ashish
ashish
ashish
ashish
ashish
ashish
ashish
ashish

In [25]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [26]:
#getting list from 1-10 we use list function
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
even_number = list(range(0,21,2))
print(even_number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
odd_number = list(range(1,21,2))
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [29]:
#req: to print even numbers from 1-20
for x in range (0,21,2):
    print(x)

0
2
4
6
8
10
12
14
16
18
20

In [30]:
#req: to print odd numbers from 1-20
for x in range (1,21,2):
    print(x)

1
3
5
7
9
11
13
15
17
19